<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Cooee Web Automation Suite" parallel="false">

  <listeners>
    <listener class-name="org.cooee.utils.ExtentReportListener"/>
  </listeners>

  <test name="Login Test">
    <classes>
      <class name="org.cooee.tests.LoginTest"/>
    </classes>
  </test>

</suite>
